name: Code Scanning
on:
  push:
  pull_request:
  schedule:
    # random HH:MM to avoid a load spike on GitHub Actions at 00:00
    - cron: '12 15 * * *'
  workflow_dispatch:
permissions:
  actions: none
  attestations: none
  checks: none
  contents: none
  deployments: none
  discussions: none
  id-token: none
  issues: none
  models: none
  packages: none
  pages: none
  pull-requests: none
  repository-projects: none
  security-events: none
  statuses: none
jobs:
  bandit:
    permissions:
      actions: read
      contents: read
      security-events: write
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - uses: PyCQA/bandit-action@67a458d90fa11fb1463e91e7f4c8f068b5863c7f # v1.0.1
        continue-on-error: true # because not all repositories enable code scanning, and a SARIF file is generated
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        if: always() # if the respository's code scanning is disabled, still upload the SARIF
        with:
          name: bandit.sarif
          path: results.sarif
          if-no-files-found: error
  semgrep:
    permissions:
      actions: read
      contents: read
      security-events: write
    runs-on: ubuntu-latest
    container:
      image: semgrep/semgrep@sha256:e2a7ca874b5ef7dd47b3f613a429bc75050e6a1abfb2b42496d7ce2414d286cb
    steps:
      - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - run: semgrep scan --oss-only --sarif > results.sarif || true
      - uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: semgrep.sarif
          path: results.sarif
          if-no-files-found: error
      - uses: github/codeql-action/upload-sarif@57eebf61a2246ab60a0c2f5a85766db783ad3553 # v3.28.15
        continue-on-error: true # because not all respositories enable code scanning, yet a SARIF file exists
        with:
          sarif_file: results.sarif
